<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta Downloader | Download Images, Videos, and Reels from Instagram</title>
</head>
<body>
    <p>Download {{media_type}}</p>
    <img src="{{preview_link}}" alt="">
    {% if media_type == 'carousel' %}
    {% for lnk in download_link %}
    <a href="{{lnk}}" target="_blank">Download Media {{forloop.counter}}</a>
    {% endfor %}
    {% else %}
    <a href="{{download_link}}" target="_blank">Download {{media_type}}</a>
    {% endif %}
</body>
</html>